<% layout('layout/boilerplate') -%>

<div id="cluster-map"></div>
<div class="container">
  <h1 class="display-6 my-4">All Campgrounds</h1>
  <% for(let camp of campgrounds) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <%if(camp.images.length) {%>
        <img
          class="d-block w-100 preview-image"
          alt="<%= camp.title %>"
          src="<%= camp.images[Math.floor(Math.random() * camp.images.length)].url %>"
        />
        <% }else {%>
        <img
          class="d-block w-100 preview-image"
          alt=""
          src="https://res.cloudinary.com/dykjsx7mz/image/upload/v1636524312/YelpCamp/joczirdi5c4nbhl4h1s4.png"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text"><%= camp.description %></p>
          <p class="card-text">
            <span class="text-muted"><%= camp.location %> </span>
          </p>
          <a
            href="/campgrounds/<%= camp._id %> "
            class="btn btn-sm btn-primary"
          >
            View <%=camp.title%>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %> }
</script>

<script defer src="/js/clusterMap.js"></script>
